
.container {
    /* border: 1px solid red; */
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
}

.menusidebar {
    /* position: absolute; */
    width: 256px;
    height: 500px;
    margin-left: 20px;
    padding: 10px;
    background: #FAFAFA;
    color: white;
    border-radius: 10px;
}

.uploadpro {
    width: 1100px;
    height: 500px;
}
.formbg{
    width: 40%;
}
.uploadFile {
    width: 1100px;
    /* border: 1px solid red; */
    margin-top: -90px;
}
.uploadImage {
    width: 1100px;
    /* border: 1px solid red; */
    margin-top: -90px;
}
.uploadvideo {
    width: 1100px;
    /* border: 1px solid red; */
    margin-top: -90px;
}
/* To download */

.tablecoldown {
    /* border: 1px solid red; */
    width: 1100px;
    height: 500px;
    overflow: auto;
}
.downfile {
    width: 1100px;
    height: 500px;
    overflow: auto;
}
.downImage {
    /* border: 1px solid red; */
    width: 1100px;
    height: 500px;
    overflow: auto;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
}

.downImage .img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.downvideo{
    width: 1100px;
    height: 500px;
    overflow: auto;
}
@media screen and (max-width: 567px) {
.main_text{
    /* border: 1px solid red; */
    width: 90%;
    margin: 10px auto;
}
    .container {
        width: 95%;
        margin: 0 auto;
        display: inline;
        /* border: 1px solid red; */
    }

    .menusidebar {
        width: 90%;
        height: 100%;
        background: #FAFAFA;
        color: white;
        border-radius: 10px;
    }
    .uploadpro {
        width: 90%;
        margin: auto;
    }
    .formbg{
        width: 100%;
        /* border: 1px solid red; */
    }

    .uploadFile {
        width: 95%;
        /* border: 1px solid red; */
        margin: 10px auto;
    }
    .uploadImage {
        width: 95%;
        margin: 10px auto;
    }
    .uploadvideo{
        width: 95%;
        margin: 10px auto;
    }

    .tablecoldown {
        /* border: 1px solid red; */
        margin: 10px auto;
        width: 95%;
        height: 100%;
    }
    .downImage {
        width: 95%;
        margin: 10px auto;
        grid-template-columns: auto auto;
    }
    
    .downImage .img {
        width: 200px;
        height: 200px;
    }
    .downvideo{
        width: 95%;
        margin: 10px auto;
    } 
}